<h1>Post</h1>
<section class="container">
    <div>
        <wb-fetch-post>
            <div class="card post">
                <div class="fields">
                    <div class="field">
                        <div class="skeleton">
                            <div class="skeleton__block"></div>
                        </div>
                    </div>
                     <div class="field body">
                        <div class="skeleton">
                            <div class="skeleton__block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </wb-fetch-post>
    </div>
</section>