<h1>Profile</h1>
<section class="container">
    <div>
        <div>
            <is-land>
            <wb-profile-posts>
                <div class="posts">
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </wb-profile-posts>
            </is-land>
        </div>

    </div>
    <section>
        <div class="card">
            <is-land>
                <wb-profile-card>
                    <div class="fields">
                        <div class="field">
                            <span>First name:</span>
                            <div class="skeleton">
                                <div class="skeleton__block"></div>
                            </div>
                        </div>
                        <div class="field">
                            <span>Last name:</span>
                            <div class="skeleton">
                                <div class="skeleton__block"></div>
                            </div>
                        </div>
                        <div class="field">
                            <span>Middle name:</span>
                            <div class="skeleton">
                                <div class="skeleton__block"></div>
                            </div>
                        </div>
                        <div class="field">
                            <span>Email name:</span>
                            <div class="skeleton">
                                <div class="skeleton__block"></div>
                            </div>
                        </div>
                    </div>
                </wb-profile-card>
            </is-land>
        </div>
    </section>
</section>

{# <is-land on:interaction="pointerenter" import="/js/home.js">
    <wb-counter></wb-counter>
</is-land> #}