<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet">
    <title>Lit Fetch Eleventy</title>
    <!-- MUST be loaded before any lit bundle. allows hydration of SSRd components -->
    <link href='js/app.js' rel='preload' as='script'>
    <link rel="preload" href="/fonts/Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/styles/index.css">
    <script defer src="/scripts/index.js"></script>
    <script type="module" src="/js/is-land.js"></script>
    <script type="module" src="/js/base.js"></script>
    {% include "partials/script-loader.njk" %}
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <div class="left-side">
          <a href="/">Home</a>
          <a href="/profile">Profile</a>
          <a href="/album">Album</a>
          <a href="/cats/fact">
            Cat fact (Serveless)</a>
        </div>
        <wb-header-app></wb-header-app>
      </div>
    </header>
    <main>
      <div class="page-container">{{ content | safe }}</div>
    </main>
    <script src="/service-worker.js"></script>
  </body>
</html>